<h1>Reset Password</h1>

<%
if(typeof error !== 'undefined'){
%>
<h3 style="color:red;"><%= error %></h3>
<%
}
%>


<form action="/reset-your-password?token=<%=resetData.token%>" method="post">
    <input type="hidden" name="user_id" value="<%=resetData.user_id%>">
<input type="password" name="password" required placeholder="New Password">
<br><br>
<input type="password" name="confirm_password" required placeholder="confirm Password">
<br><br>
<input type="submit" value="Reset password">


</form>